.game-screen {
  width: 100%;
  height: 100%;
  padding: 50px;

  color: white;
  font-size: 20px;
  user-select: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .choose-text {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .switcher {
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 30px;

    .button {
      pointer-events: all;
      cursor: pointer;
    }
  }
}
